@font-face {
    font-family: 'Ayuthaya';
    src: url('Ayuthaya.eot');
    src: local('Ayuthaya'),
        url('Ayuthaya.eot?#iefix') format('embedded-opentype'),
        url('Ayuthaya.woff2') format('woff2'),
        url('Ayuthaya.woff') format('woff'),
        url('Ayuthaya.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

